.count {
    height: 150px;
    background-color: #70e4fb;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 6px;
}

.isMax {
    color: red;
}

.error {
    background: #f559a1;
}

.correctValue {
    font-size: 24px;
}
.incorrectValue {
    color: #f559a1;
    font-size: 24px;
 }